# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.wrangler
wrangler.toml
worker/wrangler.toml
worker/.dev.vars
worker/.env
imagesmockup/
worker/secretgogle/
worker/pagespeed-api-*.json
worker/npx
worker/package-lock.json
worker/package.json
functions/api/contact.ts
secrets-test.txt
secrets-live.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
